.cart {
  top: 5%;
  left: 0;
  right: 0;
  max-width: 600px !important;
  height: 300px;
  margin: auto;
  text-align: center;
  font-family: "Roboto";
  background-color: white;
  position: fixed;
  display: inline-block;
  animation-duration: 0.7s;
  flex-direction: column;
  z-index: 100;
  border-radius: 7px;
  overflow-y: auto;
  overflow-x: hidden;

  .cart-item {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    text-align: left;
    margin-top: 25px;

    .price {
      margin-left: 1%;
    }
  }

  .remove-icon {
    cursor: pointer;
    float: left;
    margin-right: 1%;
  }
  .x-icon {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    float: right;
  }

  .toppings {
    position: absolute;
    top: 45%;
    left: 2px;
    font-size: 10pt;
    color: gray;
  }

  .totalOrder {
    position: relative;
    height: auto;

    .total {
      float: left !important;
      font-size: 20pt;
    }
    .submit-order {
      float: right;
      height: 40px;
      background-color: #e35353;
      color: white;
      transition: ease 0.5s;
      &:hover {
        color: white;
      }
    }
  }
}
