.cart {
  width: 30%;
  height: 300px;
  background-color: white;
  position: fixed;
  right: 2%;
  top: 4%;
  z-index: 100;
  border-radius: 10px;

  overflow-y: auto;
  overflow-x: hidden;
  .cart-item {
    position: relative;
    width: 100%;
    margin-left: 5%;
    font-size: 14pt;
    text-align: left;

    .price {
      margin-right: 5%;
      float: right;
    }
  }

  .total {
    margin-left: 5%;
    font-size: 20pt;
  }

  .x-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}
