.main {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 0 !important;
  .title {
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
  }
  .pizza-video {
    width: 100%;
    object-fit: fill;
    height: 400px;
  }
  .pizzas {
    .card {
      border-radius: 10px;
      box-shadow: 0 0 5px;
      text-align: center;
      height: 200px;
      width: 400px;
      position: relative;
      display: block;

      .card-text {
        width: 230px;
        position: absolute;
        margin-top: 15%;
        text-align: left;
        right: 0px;
        display: block;
        margin-bottom: 5%;
      }
      .card-title {
        font-family: "Roboto";
        float: right;
        margin-right: 10px;
        font-size: 2em;
      }
      img {
        position: absolute;
        left: -35px !important;
        top: 0px;
        height: stretch;
        width: 230px;
        margin: 0px;
        padding: 0;
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .addToCart {
      transition: 0.2s ease;
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 10px;

      &:hover {
        transform: translateY(-10px);
        .cart {
          transform: rotateZ(30deg);
        }
      }
    }
    .cart {
      transition: 0.2s ease;
      fill: white;
    }
  }

  .pizza-header {
    justify-content: center;
    font-size: 2em;
    color: gray;
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 1630px) {
  .pizza-card {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}
@media (max-width: 1365px) {
  .pizza-card {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 836px) {
  .pizza-card {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
// disabling animation delay on mobile
@media screen and (max-width: 1000px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}
