.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0 !important;
  .title {
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
  }
  .pizza-video {
    width: 100%;
    object-fit: fill;
    height: 400px;
  }
  .pizzas {
    .card {
      border-radius: 10px;
      box-shadow: 0 0 5px;
      text-align: center;
      height: 200px;
      position: relative;
      display: block;

      .card-text {
        width: 160px;
        position: relative;
        float: left;
        text-align: left;
        margin-top: 10%;
        font-size: 13pt;
        display: block;
        margin-left: 5px;
        margin-bottom: 5%;
        word-break: break-word;
      }

      .card-title {
        top: 0;
        left: 0;
        position: absolute;
        font-family: "Roboto";
        font-size: 1.5em;
        margin: 5px;
      }

      .main-pizza {
        position: fixed;
        top: 0;
        right: 0px;
        height: 100%;
        width: 60%;
        margin: 0px;
        padding: 0;
        transition: 0.3s ease-in-out;
      }
    }

    .addToCart {
      transition: 0.2s ease;
      position: absolute;
      bottom: 0px;
      color: white;
      left: 0px;
      margin: 10px;
      background-color: rgb(227, 83, 83);

      &:hover {
        .cartIcon {
          transform: rotateZ(30deg);
        }
      }
    }
    .cartIcon {
      transition: 0.2s ease;
      fill: white;
    }
    .price {
      position: sticky;
      float: right;
      font-size: 16pt;
      font-weight: bold;
    }
  }

  .pizza-header {
    justify-content: center;
    font-size: 2em;
    color: gray;
    font-family: "Roboto", sans-serif;
  }
}

// disabling animation delay on mobile
@media screen and (max-width: 1000px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}
