.modal-wrap {
  display: flex;
  justify-content: center;
}

.buildModal {
  text-align: center;
  animation-duration: 0.5s;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 7px;
  margin-top: 50px;

  height: 70vh;
  background-color: white;
  z-index: 10 !important;

  .exitBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14pt;
    cursor: pointer;
  }

  h3 {
    padding-top: 5px;
    font-family: "Roboto";
  }

  .buildPizza {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .pizza-img {
      width: 60%;
      pointer-events: none;
    }
    .toppingImg {
      pointer-events: none;
      animation-duration: 0.5s;
      position: absolute;
      display: inline-block;
      z-index: 10;
      width: 60%;
    }
  }

  .toppings {
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;

    .toppingName {
      background-color: rgb(240, 238, 238);
      border-radius: 360px;
      padding: 7px;
      text-align: center;
      margin-bottom: 15px;
      transition: 0.4s ease;

      &:hover {
        background-color: #e35353;
        color: white;
      }
    }
  }

  .actions {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    justify-self: last baseline;
    .addToCart {
      transition: 0.2s ease;
      color: white !important;
      background-color: rgb(227, 83, 83);
      height: 40px;
      &:hover {
        .cartIcon {
          transform: rotateZ(30deg);
        }
      }
      .cartIcon {
        transition: 0.2s ease;
        fill: white;
      }
    }
  }

  .modal-title {
    font-size: 25pt;
    margin-right: 15px;
  }
}
