.overlay {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgb(227, 83, 83);
  justify-content: center;
  display: flex;
  align-items: center;
  animation: overlayVisbilty;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  img {
    width: 25%;
    animation: spin 1s linear;
    animation-iteration-count: infinite;
    transform-origin: center center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes overlayVisbilty {
  0% {
    display: block;
    opacity: 1;
  }

  50% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
